PMDMMOc/resources/data/xsd/moves.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="moves">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="move" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="move">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="statchanges" minOccurs="0" />
			</xs:sequence>
			<xs:attribute name="id" type="xs:int"/>
			<xs:attribute name="type" type="xs:int" />
			<xs:attribute name="behavior" type="xs:int"
				use="optional" />
			<xs:attribute name="movetype" type="xs:string" use="optional" />
			<xs:attribute name="category" type="xs:int" />
			<xs:attribute name="pp" type="xs:int" />
			<xs:attribute name="power" type="xs:int" />
			<xs:attribute name="accuracy" type="xs:int" />
			<xs:attribute name="priority" type="xs:int" use="optional" />
			<xs:attribute name="random" type="xs:int"
				use="optional" />
			<xs:attribute name="status" type="xs:int"
				use="optional" />
		</xs:complexType>
	</xs:element>

	<xs:element name="statchanges">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="statchange" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="stat" type="xs:int" />
						<xs:attribute name="stage" type="xs:int" />
						<xs:attribute name="self" type="xs:int"
							use="optional" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>